
@{
    ViewBag.Title = "hướng dẫn mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .formHuongDanMuaHang {
        width: 100%;
        font-family: Roboto-Regular,sans-serif;
    }

    .noidung {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }

    p {
        color: black;
        font-size: 15px;
        margin-top: 5px;
    }

    .share img {
        width: 30px;
    }
    
</style>
<div class="content" style="padding-right:10px;">
    <div class="formHuongDanMuaHang">
        <h3 style="padding-top:10px;margin-left:5%"> HƯỚNG DẪN MUA HÀNG </h3>
        <div class="noidung">
            Để mua hàng, Quý khách không cần trực tiếp đến các Showroom của chúng tôi, quý khách có thể lựa chọn cách mua hàng Online bằng cách chọn một trong những cách mua hàng sau:


            <p style="margin-top:10px">   <b>Cách 1:</b> Gọi điện thoại đến Tổng đài 1800 6715 hoặc 0903 955 115 từ 8g - 20g (cả CN và Ngày lễ) để đặt hàng. Với đội ngũ nhân viên chuyên nghiệp, giàu kinh nghiệm, chúng tôi luôn sẵn sàng phục vụ, tư vấn và hỗ trợ quý khách mua được sản phẩm ưng ý</p>


            <p>
                <b>Cách 2: </b> Đặt mua hàng Online trên Website: Vietthuongshop.com
            </p>

            <p>
                <b>Bước 1: </b> Truy cập website và lựa chọn sản phẩm cần mua để mua hàng
            </p>
            <p>
                <b>Bước 2: </b> Click và sản phẩm muốn mua, màn hình hiển thị ra pop up với các lựa chọn sau
                Nếu Quý khách muốn tiếp tục mua hàng: Bấm vào phần Mua ở đâu? và sau đó làm theo hướng dẫn

                Nếu Quý khách muốn mua hàng bằng hình thức trả góp, vui lòng bấm chọn: Mua trả góp

            </p>
            <p>
                <b>Bước 3: </b>     Lựa chọn thông tin tài khoản thanh toán

                Nếu bạn đã có tài khoản vui lòng nhập thông tin tên đăng nhập là email và mật khẩu vào mục đã có tài khoản trên hệ thống

                Nếu bạn chưa có tài khoản và muốn đăng ký tài khoản vui lòng điền các thông tin cá nhân để tiếp tục đăng ký tài khoản. Khi có tài khoản bạn sẽ dễ dàng theo dõi được đơn hàng của mình

                Nếu bạn muốn mua hàng mà không cần tài khoản vui lòng nhấp chuột vào mục đặt hàng không cần tài khoản
            </p>


            <p>
                <b> Bước 4:</b> Điền các thông tin của bạn để nhận đơn hàng, lựa chọn hình thức thanh toán và vận chuyển cho đơn hàng của mình
            </p>



            <p>
                <b>Bước 5:</b> Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng
                Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ liên hệ bằng cách gọi điện lại để xác nhận lại đơn hàng và địa chỉ của bạn.
            </p>
            <p style="margin-top:10px;color:red"><b>Lưu ý:</b></p>
            <p>
                1. Chúng tôi chỉ chấp nhận những đơn đặt hàng khi cung cấp đủ thông tin chính xác về địa chỉ, số điện thoại. Sau khi bạn đặt hàng, chúng tôi sẽ liên lạc lại để kiểm tra thông tin và thỏa thuận thêm những điều có liên quan.
            </p>
            <p>
                2. Một số trường hợp nhạy cảm: giá trị đơn hàng quá lớn & thời gian giao hàng vào buổi tối địa chỉ giao hàng trong ngõ hoặc có thể dẫn đến nguy hiểm. Chúng tôi sẽ chủ động liên lạc với quý khách để thống nhất lại thời gian giao hàng cụ thể.
            </p>
            <p>
                3. Trong trường hợp giao hàng chậm trễ mà không báo trước, quý khách có thể không nhận hàng và chúng tôi sẽ hoàn trả toàn bộ số tiền mà quý khách trả trước (nếu có) trong vòng 7 ngày.
            </p>

            <p>
                4. Công ty cam kết tất cả hàng hóa gởi đến quý khách đều là hàng chính hãng mới 100% (có đầy đủ hóa đơn, được bảo hành chính thức). Những rủi ro phát sinh trong quá trình vận chuyển (va đập, ẩm ướt, tai nạn...) có thể ảnh hưởng đến hàng hóa, vì thế xin Quý Khách vui lòng kiểm tra hàng hóa thật kỹ trước khi ký nhận. Việt Thương Music sẽ không chịu trách nhiệm với những sai lệch hình thức của hàng hoá sau khi Quý khách đã ký nhận hàng.
            </p>
        </div>
    </div>
    <div class="share">
        <img class="pointer" src="~/Data/anh_ngoaile/iconshare.jpg" alt="Alternate Text" />
        <img class="pointer" src="~/Data/anh_ngoaile/facebook_small.gif" alt="Alternate Text" />
        <img class="pointer" src="~/Data/anh_ngoaile/icongmail.png" alt="Alternate Text" />
        <img class="pointer" src="~/Data/anh_ngoaile/iconpinterest.png" alt="Alternate Text" />
    </div>
    <span style="clear:both;"></span>
    <div>
        @{
            Html.RenderAction("sanphamhot","Product");
        }
    </div>
</div>

