div.menu ul {
    margin-bottom: 0;
}

.wrap .header {
    background-color: #e8e5e5;
}

.header_slide {
    color: black;
}

body {
    background: #808080;
}

.account_desc li a {
    color: black;
    font-size: 20px;
}


body {
    background: #808080;
}